* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%; max-width: 1600px; margin: auto;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: gray; */
    background-image: linear-gradient(rgb(21, 19, 19), white);
    color: white;
    margin-bottom: 30px;
    padding: 30px 60px;
    box-sizing: border-box;
}

.title {
    color: wheat;
}

.title:hover {
    opacity: 70%;
    cursor: pointer;
}

.cart {
    position: relative;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-size: 30px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid white;
}

.cart:hover {
    opacity: 70%;
    cursor: pointer;
}

.cart:active{
    border: 2px solid rgb(209, 102, 14);
}

.cartAmount {
    position: absolute;
    border-radius: 3px;
    padding: 3px;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
}

.icon-cart{
    width: 40px;
    height: 40px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 30px;
}

.item:first-child {
    width: 100%;
}

/* ===================================Shop items styles====================================================== */

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
}

@media (max-width: 1000px) {
    .shop{
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width: 500px) {
    .shop{
        grid-template-columns: repeat(1, 223px);
    }
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

.price-qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.minus,
.plus {
    width: 10px;
    cursor: pointer;
}

.plus-btn {
    display: flex;
    justify-content: center;
    padding-top: 2px;
    color: white;
    font-size: 0.8em;
    width: 70px;
    height: 20px;
    cursor: pointer;
    background-color: rgb(10, 223, 70);
    border: 1px solid rgb(83, 79, 82);
    border-radius: 3px;
}

.plus-btn:hover {
    opacity: 70%;
}

.plus-btn:active{
    background-color: rgb(83, 79, 82);
    border: 1px solid rgb(10, 223, 70);
}

.show-more-btn {
    width: 100%;
    align-self: center;
    cursor: pointer;
}

.popup {
    /* visibility: hidden; */
    display: none;
}

.show {
    display: block;
    padding-left: 10px;
    font-size: small;
    line-height: 1.2rem;
}

.img-product{
    width: 221px;
    border-radius: 4px 4px 0 0;
}



/* ======================CART============================== */

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.home-btn,
.checkout,
.removeAll {
    background-color: black;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.checkout {
    background-color: green;
}

.removeAll {
    background-color: red
    ;
}

.checkout:hover,
.removeAll:hover {
    opacity: 70%;
}

.x-sign {
    cursor: pointer;
}

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 400px);
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.cart-item {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
}

.title-price-x {
    display: flex;
    width: 280px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.title-price {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 10px;
}


.img-cart-product {
    border-radius: 5px 0px 0px 5px;
}

.cart-item-price {
    background-color: black;
    color: white;
    border-radius: 3px;
    padding: 5px;
}



/* ==============================ORDER PAGE========================================= */


.form-name {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 30px;
    background-image: linear-gradient(white ,rgb(159, 153, 153), white);
    width: 100%;
    max-width: 1000px;
    margin: 0px auto 50px auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-name input {
    width: 100%;
}

.form-name h2 {
    text-align: center;
}

#cash,
#card {
    appearance: none;
    width: 0px;
    height: 0px;
}

.radio {
    display: block;
    /* background-color: gray; */
    border: 1px solid black;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.radio-container {
    display: flex;
    justify-content: space-evenly;
}

.form-radio {
    display: flex;
    width: 100px;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}


.form-radio input:checked + .radio {
    background-color: rgb(10, 223, 70);
    transition: 0.7s all;
}

#gift1,
#gift2,
#gift3,
#gift4 {
    display: inline-block;
    width: 10%;
    cursor: pointer;
    /* margin: 0; */
    /* padding-top: 5px; */
}


.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkbox-label {
    display: flex;
    cursor: pointer;

    /* border-color: ; */
}


.submit-btn:disabled {
    /* background-color: rgb(10, 223, 70); */
    background-color: rgb(233, 227, 227);
    border: 1px solid rgb(83, 79, 82);
    border-radius: 3px;
}

.submit-btn {
    background-color: rgb(10, 223, 70);
    /* background-color: rgb(158, 152, 152); */
    border: 1px solid rgb(83, 79, 82);
    border-radius: 3px;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 70%;
}

.submit-btn:active {
    background-color: rgb(115, 111, 109);
    border: 1px solid rgb(10, 223, 70);
}

/* #name:invalid {
    border-color: red;
} */

/* .form-name input[type=text]:valid {
    border-color: rgb(10, 223, 70);
}

.form-name input[type=text]:invalid {
    border-color: red;
} */




/* h1[rel=external] { color: red; } */


.span {
    display: block;
    color: red;
    font-weight: 700 ;
}


/* .valid-msg {
    display: none;
} */
